@model WebAPI.Models.tblEmployee

@{
    ViewBag.Title = "details";
}

<h2>details</h2>

<div>
    <h4>EmpClass</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblGender.GenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblGender.GenderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfJoin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfJoin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tblCountry.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCountry.CountryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tblHobby.HobbyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblHobby.HobbyName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.EmployeeId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
