@model IEnumerable<WebAPI.Models.tblEmployee>

@{
    ViewBag.Title = "Index";
}
<h2>Employee Application</h2>
<marquee direction="left"><font size="3" color="black"><i>WELL COME TO REVALSYS TECHNOLOGIES</i> </marquee>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblGender.GenderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfJoin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblCountry.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblHobby.HobbyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MobileNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tblGender.GenderName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HomeAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfJoin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tblCountry.CountryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tblHobby.HobbyName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
        @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
    </td>
</tr>
}

</table>
